:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
    width: min(80%, 1280px);
    margin: 0 auto;
    padding: 2rem;
    display:grid;
    grid-template-columns: 1fr;
    gap:3em;
    grid-template-rows: 5em repeat(3, minmax(50vh, 60vh));
}

.nowline {
    border-left: 2px dotted silver;
    top:0;
    height:120%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
    .nowline {
        border-left: 2px dotted black;
    }
}

